@media screen and (max-width: 2560px)
  .bao
    &__info
      transform: scale(1.5)
      transform-origin: left center
    &__slot
      transform: scale(1.3)
      transform-origin: right center

@media screen and (max-width: 1920px)
  .bao
    &__info
      transform: scale(1.2)
    &__slot
      transform: scale(1.1)

@media screen and (max-width: 1920px) and (max-height: 955px)
  .bao
    &__info
      transform: scale(1.2)
    &__slot
      transform: scale(1)

@media screen and (max-width: 1680px)
  .bao
    &__info
      transform: scale(1.2)
    &__slot
      transform: scale(0.97)

@media screen and (max-width: 1600px) and (max-height: 833px)
  .bao
    &__info
      transform: scale(1.1)
    &__slot
      transform: scale(0.92)

@media screen and (max-width: 1600px) and (max-height: 790px)
  .bao
    &__slot
      transform: scale(0.86)

@media screen and (max-width: 1538px)
  .bao
    &__info
      transform: scale(1)
    &__slot
      transform: scale(0.82)

@media screen and (max-width: 1366px) and (max-height: 720px)
  .bao
    &__info
      transform: scale(0.9)
    &__slot
      transform: scale(0.78)

@media screen and (max-width: 1366px) and (max-height: 675px)
  .bao
    &__slot
      transform: scale(0.7)

@media screen and (max-width: 1295px)
  .container
    padding: 0 39px 0 26px
  .bao
    &__info
      transform: scale(0.85)
    &__slot
      transform: scale(0.79)
      margin: 0 0 0 -40px

@media screen and (max-width: 1295px) and (max-height: 685px)
  .bao
    &__slot
      transform: scale(0.74)

@media screen and (max-width: 1295px) and (max-height: 645px)
  .bao
    &__slot
      transform-origin: center
      margin: 0 -100px 0 0
      transform: scale(0.68)

@media screen and (max-width: 1295px) and (max-height: 595px)
  .bao
    &__slot
      transform: scale(0.65)

@media screen and (max-width: 1253px)
  .bao
    &__slot
      margin: 0 0 0 -196px
      transform: scale(0.72)

@media screen and (max-width: 1210px) and (max-height: 600px)
  .container
    padding: 0 39px 0 61px
  .bao
    &__slot
      margin: 0 0 0 4px
      transform: scale(0.6)

@media screen and (max-width: 1135px)
  .bao
    &__slot
      margin: 0 0 0 -196px
      transform: scale(0.72)

@media screen and (max-width: 1061px)
  .bao
    &__info
      transform: scale(0.75)
    &__slot
      transform-origin: left center
      transform: scale(0.64)
      margin: 0 -30px 0 0

@media screen and (max-width: 1020px)
  .bao
    &__slot
      transform: scale(0.65)

@media screen and (max-width: 972px)
  .bao
    &__info
      transform: scale(0.7)
    &__slot
      transform: scale(0.6)

@media screen and (max-width: 920px)
  .bao
    &__info
      transform: scale(0.65)
    &__slot
      transform: scale(0.55)


/****************************************TABLET****************************************************/

@media screen and (max-width: 1024px) and (orientation: portrait)
    .container
      padding: 0 15px
    .bao
      &__row
        flex-direction: column
        align-items: center
        justify-content: center
      &__info
        transform: scale(1)
        position: relative
        flex: 0 1 auto
        display: flex
        flex-direction: column
        margin: 0 0 40px 0
      &__slot
        transform: scale(0.95)
        transform-origin: center
        margin: 0
        top: 0
      &__cat
        bottom: -119px
        left: -142px
      &__logo
        margin: 0 0 45px 0
        max-width: 191px
      &__title
        flex-direction: row
        margin: 0 0 15px 0
        &-top,
        &-bottom
          font-size: 76px
          line-height: 81px
          margin: 0
        &-top
          margin: 0 20px 0 0
      &__text
        margin: 0
      &__btn
        align-self: flex-end
        margin: -20px -120px 0 0

@media screen and (max-width: 840px) and (orientation: portrait) and (max-height: 1125px)
  .bao
    padding: 55px 0 0 0
    &__slot
      transform: scale(0.77)
    &__info
      margin: 0 0 -10% 0

@media screen and (max-width: 830px) and (orientation: portrait) and (max-height: 1180px)
  .bao
    &__info
      transform: scale(0.85)
      transform-origin: bottom center
      margin: 0
    &__slot
      transform: scale(0.75)

@media screen and (max-width: 810px) and (orientation: portrait) and (max-height: 1045px)
  .bao
    &__info
      transform: scale(0.85)
      transform-origin: bottom center

@media screen and (max-width: 768px) and (orientation: portrait) and (max-height: 1045px)
  .bao
    &__slot
      transform: scale(0.7)
    &__info
      margin: 0 0 -15% 0

@media screen and (max-width: 768px) and (orientation: portrait) and (max-height: 910px)
  .bao
    &__slot
      transform: scale(0.67)
    &__info
      transform: scale(0.8)

@media screen and (max-width: 749px) and (orientation: portrait) and (max-height: 1060px)
  .bao
    &__slot
      transform: scale(0.67)
    &__info
      transform: scale(0.8)

@media screen and (max-width: 715px) and (orientation: portrait) and (max-height: 1200px)
  .bao
    &__slot
      transform: scale(0.67)
    &__info
      transform: scale(0.8)
      margin: 0 0 -10% 0


/****************************************MOBILE****************************************************/

@media screen and (max-width: 550px) and (orientation: portrait)
  .bao
    padding: 64px 0 0 0
    &__overlay
      align-items: flex-end
      padding: 0 10px 30px
    &__firstWin,
    &__secondWin
      padding: 111px 25px 35px
      border-radius: 30px
      &-img
        max-width: 293px
        transform: translateX(-50%) scale(1.2)
      &-win
        font-size: 17px
        line-height: 22px
        margin: 0 0 7px 0
      &-dep
        font-size: 34px
        line-height: 47px
        margin: 0 0 50px 0
      &-btn
        padding: 7px
        span
          padding: 16px 47px 10px
          font-size: 20px
          line-height: 25px
    &__logo
      max-width: 134px
      margin: 0 0 20px 0
    &__info
      padding: 30px 0 30px 0
      top: 0
      transform: scale(1)
      position: absolute
      height: 100%
      z-index: 3
      //margin-bottom: -210px
      align-items: center
      flex-direction: column
    &__slot
      transform: scale(0.45)
      transform-origin: center
      top: 0
    &__cat
      bottom: -290px
      left: -24px
      z-index: 2
      width: 464px
      height: 419px
    &__title
      margin: 0
      &-top,
      &-bottom
        font-size: 38px
        line-height: 54px
      &-top
        margin: 0 10px 0 0
    &__text
      font-size: 18px
      line-height: 38px
      flex: 1 1 auto
    &__btn
      padding: 7px
      margin: 0
      bottom: 0
      align-self: center
      span
        font-size: 20px
        line-height: 25px
        padding: 16px 80px 10px
    &__textWin
      bottom: -71px
      line-height: 30px
      text-align: center
      transform: translateX(0)
      left: auto
      right: 107px
      br
        display: block

@media screen and (max-width: 550px) and (orientation: portrait) and (max-height: 750px)
  .bao
    &__info
      padding: 30px 0 20px 0

@media screen and (max-width: 550px) and (orientation: portrait) and (min-height: 730px)
  .bao
    &__info
      padding: 60px 0 30px 0

@media screen and (max-width: 550px) and (orientation: portrait) and (min-height: 780px)
  .bao
    &__info
      padding: 80px 0 45px 0

@media screen and (max-width: 550px) and (orientation: portrait) and (min-height: 900px)
  .bao
    &__info
      padding: 90px 0 60px 0

@media screen and (max-width: 550px) and (orientation: portrait) and (max-height: 670px)
  .bao
    &__slot
      top: -10px

@media screen and (max-width: 380px) and (orientation: portrait)
  .bao
    &__slot
      transform: scale(0.38)
    &__btn
      transform-origin: bottom center
      transform: scale(0.9)

@media screen and (max-width: 380px) and (orientation: portrait) and (max-height: 600px)
  .bao
    &__slot
      transform: scale(0.38)
    &__logo
      max-width: 117px
      margin: 0 0 7px 0
    &__title
      &-top,
      &-bottom
        font-size: 34px
        line-height: 49px
    &__text
      font-size: 17px
      line-height: 37px
    &__btn
      transform-origin: bottom center
      transform: scale(0.8)
    &__cat
      left: -58px

@media screen and (max-width: 340px) and (orientation: portrait)
  .bao
    &__slot
      transform: scale(0.35)


/****************************************LANDSCAPE****************************************************/

@media screen and (max-width: 920px) and (orientation: landscape) and (max-height: 450px)
  .container
    padding: 0 30px
  .bao
    &__slot
      transform: scale(0.45)
      transform-origin: center left
      right: -70px
      margin: 0
    &__info
      transform: scale(0.55)
    &__firstWin,
    &__secondWin
      padding: 58px 27px 43px
      &-img
        max-width: 127px
        top: -67px
      &-win
        font-size: 23px
        line-height: 34px
      &-dep
        font-size: 34px
        line-height: 41px
        margin: 0 0 20px 0
      &-btn
        padding: 4px 3px
        span
          font-size: 19px
          line-height: 19px
          padding: 17px 42px 11px

@media screen and (max-width: 920px) and (orientation: landscape) and (max-height: 395px)
  .bao
    &__slot
      transform: scale(0.4)
      transform-origin: left center
    &__info
      transform: scale(0.5)

@media screen and (max-width: 920px) and (orientation: landscape) and (max-height: 390px)
  .bao
    &__firstWin,
    &__secondWin
      transform-origin: center
      transform: scale(0.8)

@media screen and (max-width: 920px) and (orientation: landscape) and (max-height: 350px)
  .bao
    &__firstWin,
    &__secondWin
      transform-origin: center
      transform: scale(0.7)
    &__slot
      transform: scale(0.35)
    &__info
      transform: scale(0.45)

@media screen and (max-width: 920px) and (orientation: landscape) and (max-height: 300px)
  .bao
    &__slot
      transform: scale(0.3)
    &__info
      transform: scale(0.4)

@media screen and (max-width: 880px) and (orientation: landscape)
  .bao
    &__slot
      right: -21px

@media screen and (max-width: 830px) and (orientation: landscape)
  .bao
    &__slot
      right: 28px

@media screen and (max-width: 780px) and (orientation: landscape)
  .bao
    &__slot
      right: 87px

@media screen and (max-width: 650px) and (orientation: landscape) and (max-height: 390px)
  .bao
    &__slot
      right: 117px

@media screen and (max-width: 570px) and (orientation: landscape) and (max-height: 335px)
  .bao
    &__slot
      right: 145px


@media screen and (max-width: 560px) and (orientation: landscape) and (max-height: 400px)
  .bao
    &__info
      transform: scale(0.4)
    &__slot
      transform: scale(0.33) !important
      right: 150px


