.bao
    .bao__overlay.opacity
        .js-container.container-con
        .bao__firstWin.hidden
            .bao__firstWin-img
                img(src='img/win-img.png' alt='winner')
            .bao__firstWin-win You win
            .bao__firstWin-dep +100% TO DEPOSIT
            .bao__firstWin-btn
                .bao__firstWin-btn-wrap
                    span Spin more
        .bao__secondWin.hidden
            .bao__secondWin-img
                img(src='img/win-img.png' alt='winner')
            .bao__secondWin-win You win
            .bao__secondWin-dep +100% AND 20FS
            a(href='https://www.baocasino.com/').bao__secondWin-btn
                .bao__secondWin-btn-wrap
                    span GET THE BONUS
    .container
        .bao__row
            .bao__info
                .bao__logo
                    img(src='img/logo.svg' alt='logo')
                .bao__title
                    .bao__title-top get the
                    .bao__title-bottom bonus
                .bao__text Spin to get the bonus
                .bao__btn
                    .bao__btn-wrap
                        span Spin
            .bao__slot
                .bao__textWin You win: #[br] +100% TO DEPOSIT
                .bao__cat
                .bao__machine
                .window
                    .outer-col
                        .col.col-one
                            .win-fire
                                .flame
                                .flame
                                .flame
                            img(src='img/slots/win3.png' alt='win' class='start')
                            img(src='img/slots/win2.png' alt='win' class='start')
                            img(src='img/slots/win1.png' alt='win' class='start')
                            img(src='img/slots/win1.png' alt='win' class='start2 win-scale')
                            img(src='img/slots/win1.png' alt='win' class='start2 win-scale')
                            img(src='img/slots/win1.png' alt='win' class='start2 win-scale')
                            img(src='img/slots/win1.png' alt='win' class='start3')
                            img(src='img/slots/win7.png' alt='win' class='start3')
                            img(src='img/slots/win6.png' alt='win' class='start3')

                    .outer-col
                        .col.col-two
                            .win-fire-blue
                                .flame
                                .flame
                                .flame
                            img(src='img/slots/win5.png' alt='win' class='start')
                            img(src='img/slots/win3.png' alt='win' class='start')
                            img(src='img/slots/win4.png' alt='win' class='start')
                            img(src='img/slots/win6.png' alt='win' class='start2 win-scale-blue')
                            img(src='img/slots/win8.png' alt='win' class='start2 win-scale-blue')
                            img(src='img/slots/win7.png' alt='win' class='start2 win-scale-blue')
                            img(src='img/slots/win3.png' alt='win' class='start3')
                            img(src='img/slots/win3.png' alt='win' class='start3')
                            img(src='img/slots/win3.png' alt='win' class='start3')


                    .outer-col
                        .col.col-three
                            img(src='img/slots/win6.png' alt='win' class='start')
                            img(src='img/slots/win8.png' alt='win' class='start')
                            img(src='img/slots/win7.png' alt='win' class='start')
                            img(src='img/slots/win5.png' alt='win' class='start2')
                            img(src='img/slots/win3.png' alt='win' class='start2')
                            img(src='img/slots/win4.png' alt='win' class='start2')
                            img(src='img/slots/win5.png' alt='win' class='start3')
                            img(src='img/slots/win3.png' alt='win' class='start3')
                            img(src='img/slots/win4.png' alt='win' class='start3')
